body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  height:100%;
  background: white;
  align-items: center;
}

html {
  overflow-y: scroll;
  overflow-x: scroll;
}

a {
  margin: 0px;
  border: 0px;
  text-decoration: none;
}

h1 {
  
}

.footer-outer {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 12px;
}

.logo-md {
  max-height: 100px
}
