body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  height:100%;
  background: #d0d0d0;
  align-items: center;
}

html {
  overflow-y: scroll;
  overflow-x: scroll;
}

a {
  margin: 0px;
  border: 0px;
  text-decoration: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.active {
  background-color: #3503BC;
  color: white;
}

.nav-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  margin-right: 3rem;
}

.nav-item {
  font-size: 14px;
  padding: 20px;
  cursor: pointer;
  font-weight: 400;
}

.nav-item:hover {
  color: gray;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  min-height: calc(100vh - 180px)
}

.header-container {
  display: flex;
  align-items: center;
  width: 100vw;
  background-color: white;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.footer-outer {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 12px;
}

.logo-md {
  max-height: 60px;
  /* margin: 0 -50px; */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#window {
  margin-left: 40px
}

#form-2 {
  margin-right: 1rem;
}


input {
  text-align: top;
  resize: none;
  font-size: 12px;
  text-emphasis: wrap;
  width: 300px;
  height: 20px;
  border: solid thin rgba(0,0,0,0);
  border-radius: 10px;
  padding: 10px;

}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center
}

select {
  display: flex;
  align-items: center;
  text-align: top;
  resize: none;
  font-size: 12px;
  text-emphasis: wrap;
  width: 320px;
  height: 40px;
  border: solid thin rgba(0,0,0,0);
  border-radius: 10px;
  padding: 10px;

}

label {
  font-size: 14px
}

button {
  width: 220px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #3503BC;
  color: white;
  font-size: 14px;
  align-self: center;
  font-weight: 700;
  margin-top: 1rem;
}

button:hover {
  cursor: pointer;
  background-color: #3503B0;
}


.storeContainer {
  resize: none;
  font-size: 14px;
  padding: 10px;
  width: 400px;
  height: 409px;
  border: solid thin rgba(0,0,0,0);
  border-radius: 10px;
}

.sm {
  height: 60px !important
}

.text-small {
  font-size: 10px;
  margin: 0
}
